{{ with .Site.Params.about }}
<div class="aside__about">
    {{ with .logo }}<img class="about__logo" src="{{ . | absURL }}" alt="Profile">{{ end }}
<h1 class="about__title"><- {{ .title }}</h1>

{{ with .description }}<p class="about__description">{{ . | markdownify }}</p>{{ end }}
</div>
{{ end }}



<ul class="aside__social-links">
    {{ range $item := .Site.Params.socialLinks }}
    <li>
        <a href="{{ $item.url }}" target="_blank" rel="me noopener noreferrer" aria-label="{{ $item.title }}" title="{{ $item.title }}"><i class="{{ $item.icon }}" aria-hidden="true"></i></a>&nbsp;
    </li>
    {{ end }}
</ul>

<ul>
    {{ range $.Site.Home.Translations }}
    <li><a href="{{ .RelPermalink }}">{{ .Language.LanguageName }}</a></li>
    {{ end }}
</ul>

{{ $.Scratch.Set "readingTimePhraseSingle" "Reading time estimated to %d minute" }}
{{ $.Scratch.Set "readingTimePhraseMultiple" "Reading time estimated to %d minutes" }}

{{ if eq .ReadingTime 1 }}
    <p>{{ printf ($.Scratch.Get "readingTimePhraseSingle") .ReadingTime }}</p>
{{ else }}
    <p>{{ printf ($.Scratch.Get "readingTimePhraseMultiple") .ReadingTime }}</p>
{{ end }}


{{ if not .IsHome }}
<a href="..">..(go back)</a>
{{ end }}